@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    overflow: hidden;

    .imageContainer {
      margin-top: 10px;
      width: 800px;
      height: 800px;
      background-color: $mainVerdeFondo;
      border-radius: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      float: right;
      img {
        margin-top: 20px;
        height: 70%;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 55px;
        margin: 10px 0;
      }
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 30px;

        span {
          font-size: inherit;
          color: $mainVerdeFondo;
          font-weight: bold;
        }

        .ityped-cursor{
            animation: blink 1s infinite;
        }

        @keyframes blink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 80px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
