$mainElectric: #3CC47C;
$mainForest: #1E392A;
$mainLight: #E9C893;
$mainTin: #828081;


$mainBlackLigth: #19191a;
$mainPastel: #eae2cf;
$mainVerdeAgua: #b4ccb9;
$mainVerdeFondo: #33e453;
$mainCelesteClaro: #26979f;
$mainGrisOscuro: #3b3b3b;